<div class="container">
    <div class="box">
        <h1>Autor Details</h1>
       
       
        <div class="innerbox">
            <h5 style="width: 140px;color: red;" > Author Name : </h5><h5 style="font-weight: 400;">{{Details.name}}</h5>
        </div>
        <div class="innerbox">
            <h4 style="width: 140px;color: red;"> BirthDate : </h4><h5 style="font-weight: 400;color: black;">{{Details.birth}}</h5> <br>
        </div>
        <div class="innerbox">
            <h4 style="width: 140px;color: red;"> Age : </h4><h5 style="font-weight: 400;">{{Details.age}}</h5> <br>
        </div>
        <div class="innerbox">
            <h4 style="width: 140px;color: red;"> Occupation : </h4><h5 style="font-weight: 400;">{{Details.occupation}}</h5> <br>
        </div>
        <div class="innerbox">
            <h4 style="width: 140px;color: red;"> Spouse : </h4><h5 style="font-weight: 400;">{{Details.spouse}}</h5> <br>
        </div>
        <div class="innerbox">
            <h4 style="width: 140px;color: red;"> Email : </h4><h5 style="font-weight: 400;">{{Details.email}}</h5> <br>
        </div>
       
        
    </div>
</div>